# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cấu hình môi trường ảo
venv/
env/
.venv/
ENV/

# Thư mục cache
*.egg-info/
.eggs/
dist/
build/

# Dotenv
.env

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Log files
*.log

# Tạm
*.bak
*.tmp

# Jupyter
.ipynb_checkpoints/
